
{% schema %}
{
  "name": "AlertMessage",
  "settings": [
    {
      "type": "text",
      "id": "message",
      "label": "Message",
      "default": ""
    },
    {
      "type": "text",
      "id": "variant",
      "label": "Variant",
      "default": ""
    }
  ]
}
{% endschema %}

<!-- Plantilla Liquid para AlertMessage -->
<div class="alertmessage">
  {%- for setting in section.settings -%}
    <p>{{ setting.id }}: {{ section.settings[setting.id] }}</p>
  {%- endfor -%}
</div>
