
{{ 'badge.scss' | asset_url | stylesheet_tag }}

{%- style -%}
.badge {
  padding: 20px;
}
{%- endstyle -%}



<!-- Badge -->
<div class="badge section-{{ section.id }}">
  {{ title }}
  
</div>

{% schema %}
{
  "name": "Badge",
  "class": "section-badge",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": ""
    },
    {
      "type": "text",
      "id": "variant",
      "label": "Variant",
      "default": ""
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Badge",
      "category": "Custom",
      "blocks": []
    }
  ]
}
{% endschema %}
