{{ 'button.scss' | asset_url | stylesheet_tag }}

{%- style -%}
.button {
  padding: 20px;
}
{%- endstyle -%}

{%- liquid
  assign title = section.settings.title
-%}

<!-- Button -->
<div class="button section-{{ section.id }}">
  {{ title }}
</div>

{% schema %}
{
  "name": " Button",
  "tag": "section",
  "class": "section-button",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": ""
    },
    {
      "type": "text",
      "id": "onClick",
      "label": "On Click",
      "default": ""
    },
    {
      "type": "text",
      "id": "variant",
      "label": "Variant",
      "default": ""
    },
    {
      "type": "text",
      "id": "size",
      "label": "Size",
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "disabled",
      "label": "Disabled",
      "default": ""
    },
    {
      "type": "text",
      "id": "icon",
      "label": "Icon",
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "fullWidth",
      "label": "Full Width",
      "default": ""
    },
    {
      "type": "text",
      "id": "type",
      "label": "Type",
      "default": ""
    },
    {
      "type": "text",
      "id": "onHover",
      "label": "On Hover",
      "default": ""
    },
    {
      "type": "text",
      "id": "onFocus",
      "label": "On Focus",
      "default": ""
    },
    {
      "type": "text",
      "id": "onBlur",
      "label": "On Blur",
      "default": ""
    },
    {
      "type": "text",
      "id": "alignment",
      "label": "Alignment",
      "default": ""
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": " Button",
      "category": "Custom",
      "blocks": []
    }
  ]
}
{% endschema %}