{%- if block_settings.button_text != blank and block_settings.button_2_text != blank -%}
  <div class="button-group">
    <div class="button-group__wrapper">
      {% render 'button', button_settings: block_settings, is_link: true, has_wrapper: has_wrapper %}
      {% render 'button',
        size: block_settings.button_2_size,
        width: block_settings.button_2_width,
        text: block_settings.button_2_text,
        link: block_settings.link_2,
        style: block_settings.button_2_style,
        is_link: true,
        has_wrapper: has_wrapper
      %}
    </div>
  </div>
{%- elsif block_settings.button_text != blank -%}
  {% render 'button',
    button_settings: block_settings,
    is_link: block_settings.link_on_button,
    has_wrapper: has_wrapper
  %}
{%- endif -%}
