
{{ 'button.css' | asset_url | stylesheet_tag }}

{%- style -%}
.button {
  padding: 20px;
}
{%- endstyle -%}


<!-- Button -->
<div class="button">
  
  
</div>

{% schema %}
{
  "name": "Button",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": ""
    },
    {
      "type": "text",
      "id": "onClick",
      "label": "OnClick",
      "default": ""
    },
    {
      "type": "text",
      "id": "variant",
      "label": "Variant",
      "default": ""
    },
    {
      "type": "text",
      "id": "size",
      "label": "Size",
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "disabled",
      "label": "Disabled",
      "default": ""
    },
    {
      "type": "text",
      "id": "icon",
      "label": "Icon",
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "fullWidth",
      "label": "FullWidth",
      "default": ""
    },
    {
      "type": "text",
      "id": "type",
      "label": "Type",
      "default": ""
    },
    {
      "type": "text",
      "id": "onHover",
      "label": "OnHover",
      "default": ""
    },
    {
      "type": "text",
      "id": "onFocus",
      "label": "OnFocus",
      "default": ""
    },
    {
      "type": "text",
      "id": "onBlur",
      "label": "OnBlur",
      "default": ""
    },
    {
      "type": "text",
      "id": "alignment",
      "label": "Alignment",
      "default": ""
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Button",
      "category": "Custom",
      "blocks": []
    }
  ]
}
{% endschema %}
