{% assign collection = collections | where: 'url', link.url | first %}
{% assign menu_collection_metafield = section.settings.meta_collection_value | split: '.' %}

{% if collection %}
  {% assign menu_collection_metafield_key = collection.metafields[menu_collection_metafield[0]][menu_collection_metafield[1]] %}
{% else %}
  {% assign page = pages | where: 'url', link.url | first %}
  {% assign menu_collection_metafield_key = page.metafields[menu_collection_metafield[0]][menu_collection_metafield[1]] %}
{% endif %}

{% if menu_collection_metafield_key %}
  <span class="label label-menu label-menu--{{- menu_collection_metafield_key.value.style | default: 'primary' -}}">
    {{- menu_collection_metafield_key.value.text -}}
  </span>
{% endif %}
