
{{ 'spinner.css' | asset_url | stylesheet_tag }}

{%- style -%}
.spinner {
  padding: 20px;
}
{%- endstyle -%}


<!-- Spinner -->
<div class="spinner">
  
  
</div>

{% schema %}
{
  "name": "Spinner",
  "settings": [
    {
      "type": "text",
      "id": "variant",
      "label": "Variant",
      "default": ""
    },
    {
      "type": "text",
      "id": "color",
      "label": "Color",
      "default": ""
    },
    {
      "type": "text",
      "id": "size",
      "label": "Size",
      "default": ""
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Spinner",
      "category": "Custom",
      "blocks": []
    }
  ]
}
{% endschema %}
