
{% schema %}
{
  "name": "Spinner",
  "settings": [
    {
      "type": "text",
      "id": "variant",
      "label": "Variant",
      "default": ""
    },
    {
      "type": "text",
      "id": "color",
      "label": "Color",
      "default": ""
    },
    {
      "type": "text",
      "id": "size",
      "label": "Size",
      "default": ""
    }
  ]
}
{% endschema %}

<!-- Plantilla Liquid para Spinner -->
<div class="spinner">
  {%- for setting in section.settings -%}
    <p>{{ setting.id }}: {{ section.settings[setting.id] }}</p>
  {%- endfor -%}
</div>
