
{{ 'textinput.scss' | asset_url | stylesheet_tag }}

{%- style -%}
.textinput {
  padding: 20px;
}
{%- endstyle -%}

{%- liquid
  assign title = section.settings.title
-%}

<!-- TextInput -->
<div class="textinput section-{{ section.id }}">
  {{ title }}
</div>

{% schema %}
{
  "name": "TextInput",
  "class": "section-textinput",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "id",
      "label": "Id",
      "default": ""
    },
    {
      "type": "text",
      "id": "name",
      "label": "Name",
      "default": ""
    },
    {
      "type": "text",
      "id": "value",
      "label": "Value",
      "default": ""
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "Placeholder",
      "default": ""
    },
    {
      "type": "text",
      "id": "onChange",
      "label": "OnChange",
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "disabled",
      "label": "Disabled",
      "default": ""
    },
    {
      "type": "number",
      "id": "type",
      "label": "Type",
      "default": ""
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "TextInput",
      "category": "Custom",
      "blocks": []
    }
  ]
}
{% endschema %}