.shopify-section--map-place-list {
  .section__header,
  .map-place-list__search,
  .map-place-list__button-wrapper {
    @media (max-width: 1199px) {
      padding-left: var(--container-gutter);
      padding-right: var(--container-gutter);
    }
  }

  .container {
    .section__header,
    .map-place-list__search,
    .map-place-list__button-wrapper {
      @media (max-width: 1199px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.map-place-list {
  &__section {
    display: flex;
  }

  &__map {
    min-height: 250px;
    height: min(
      500px,
      calc(
        100vh - 260px -
          (
            var(--enable-sticky-header) * var(--header-height, 0px) +
              var(--announcement-bar-height, 0px)
          )
      )
    );
    display: block;
    flex: 1;
    margin-top: 24px;
  }

  &__button-wrapper {
    text-align: center;
  }

  &__button-see-list {
    margin-top: 24px;

    &.link--button {
      --primary-button-text-color: var(--text-color);
    }
  }

  &__list {
    &-store {
      border-top: 1px solid rgb(var(--border-color));
      padding: 24px;

      &[selected="true"] {
        background: rgb(var(--secondary-background));
      }

      &:first-child {
        border-top: 0 none;
      }
      &-image {
        margin-bottom: 12px;
      }

      &-opening-hours {
        margin-top: 12px;
        padding: 12px;
        border: 1px solid rgb(var(--border-color));
      }

      &-contact-list {
        margin-top: 12px;
      }

      &-see-map-btn {
        margin-top: 12px;
      }
    }
  }

  &__modal {
    &-store {
      line-height: 1.5;

      &-opening-hours {
        margin-top: 12px;
        padding: 12px;
        border: 1px solid rgb(var(--border-color));
      }
      &-contact-list {
        margin-top: 12px;
      }

      &-navigation {
        margin-top: 12px;
      }
    }
  }
}

.map-place-list__search {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-input-wrapper {
    align-self: stretch;
  }

  &-input {
    padding-left: 40px;
  }

  &-geolocation-button {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .button {
    cursor: pointer;
  }
}

.map-place-list__map .map-place-list__list-store {
  border: none;
}
@media screen and (max-width: 1200px) {
  .map-place-list {
    &__search {
      flex-wrap: wrap;
      &-input {
      }
    }
    &__section {
      display: block;
    }
    &__list {
      width: 100%;
      height: auto;
      max-height: var(--map-height, 500px);
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .map-place-list {
    &__search {
      width: 400px;
      height: 100%;

      &-input-wrapper {
        padding: calc(var(--container-gutter) / 2);
        padding-top: 0;
      }
    }
    &__section {
      height: calc(
        90vh -
          (
            var(--header-height, 0px) * var(--enable-sticky-header) +
              var(--announcement-bar-height, 0px) *
              var(--enable-sticky-announcement-bar)
          )
      );
    }
    &__list {
      &-wrapper {
        overflow: auto;
      }
    }

    &__map {
      margin-top: 0;
      height: 100%;
    }
  }
}
