.adv-icon-list {
  display: grid;
  gap: var(--elements-gap);

  &__list {
    display: grid;
    gap: var(--icon-list-gap);

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      text-align: center;
      gap: var(--icon-item-gap, 10px);

      &--text-position {
        &-bottom {
          flex-direction: column;
        }
      }

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(var(--icon-background, transparent));
        border-radius: 50%;
        padding: var(--icon-padding);
        aspect-ratio: 1;

        img {
          display: block;
          margin: 0 !important;
          width: var(--icon-width);
        }
      }

      &-info-trigger {
        color: rgb(var(--text-color));
        background-color: rgb(var(--secondary-background));
      }

      &-popover {
        min-width: 130px;
        border-color: rgb(var(--text-color));

        .popover__content {
          @media screen and (min-width: 741px) {
            padding: 8px;
          }

          .popover__title {
            white-space: nowrap;
            text-align: left;
            justify-content: left;
          }
        }
      }
    }

    &--column {
      .adv-icon-list__list-item {
        flex-direction: row;
        max-width: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        text-align: left;

        &-text {
          grid-column: 2;
        }

        &--no-label {
          .adv-icon-list__list-item-icon {
            align-self: start;
          }
        }
      }
    }

    &--row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: var(--icon-list-align, center);

      .adv-icon-list__list-item {
        max-width: var(--icon-item-max-width, 150px);
        text-align: var(--icon-text-align, center);

        &-icon {
          flex: 0 0 auto;
        }
      }
    }
  }
}
