.shopify-section--header ~ .shopify-section--announcement-bar {
  top: calc(
    var(--enable-sticky-announcement-bar) * var(--enable-sticky-header, 0) *
      var(--header-height, 0px)
  ) !important;
}

.announcement-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  background: rgb(var(--section-background));
  //min-height: var(--min-height, auto);
  height: var(--force-height, auto);

  @media screen and (max-width: 400px) {
    padding: 5px 10px;
  }
}

.announcement-bar--multiple {
  &:not(.announcement-bar--hide-navigation) {
    justify-content: space-between;
  }

  @media screen and (max-width: 1200px) {
    .announcement-bar__main-close-button {
      right: 15px;
    }

    button[data-action="next"] {
      padding-right: 30px;
    }

    button[data-action="prev"] {
      padding-left: 30px;
    }
  }
}

/* navigation arrows hidden */
.announcement-bar--hide-navigation {
  .announcement-bar__main-close-button {
    right: 10px;
  }
}

.announcement-bar__list {
  padding-left: 10px;
  padding-right: 10px;
}

.announcement-bar__item {
  display: block;
}

.announcement-bar__item[hidden] {
  visibility: hidden;
  height: 0;
}

.announcement-bar__message {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;

  .announcement-bar--force-height & {
    line-height: 1;
  }
}

[dir="ltr"] .announcement-bar__message .link {
  margin-left: 4px;
}

[dir="rtl"] .announcement-bar__message .link {
  margin-right: 4px;
}

[dir="ltr"] .announcement-bar__close-button {
  right: var(--container-gutter);
}

[dir="rtl"] .announcement-bar__close-button {
  left: var(--container-gutter);
}

.announcement-bar__close-button {
  position: absolute;
  top: var(--container-gutter);
}

.announcement-bar__content {
  display: block;
  z-index: 5;
}

.announcement-bar__content[hidden] {
  visibility: hidden;
}

.announcement-bar__content-inner {
  background: rgb(var(--section-background));
}

[dir="ltr"] .announcement-bar__content-overlay {
  left: 0;
}

[dir="rtl"] .announcement-bar__content-overlay {
  right: 0;
}

.announcement-bar__content-overlay {
  position: absolute;
  content: "";
  height: 100vh;
  width: 100%;
  bottom: calc(
    100% - 10px
  ); /* There is a border radius on the header on mobile so we slightly move down the overlay */
  background: #000000;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.5s ease-in-out;
}

.announcement-bar__content[hidden] .announcement-bar__content-overlay {
  opacity: 0;
}

@media screen and (max-width: 740px) {
  [dir="ltr"] .announcement-bar__content {
    left: 0;
  }
  [dir="rtl"] .announcement-bar__content {
    right: 0;
  }
  .announcement-bar__content {
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: visibility 0.6s linear,
      opacity 0.6s cubic-bezier(0.75, 0, 0.175, 1),
      transform 0.6s cubic-bezier(0.75, 0, 0.175, 1);
  }

  .announcement-bar__content[hidden] {
    transform: translateY(100%);
  }

  .announcement-bar__content-inner {
    display: flex;
    flex-direction: column;
    max-height: 81vh;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }

  .announcement-bar__content-image {
    flex: none;
  }

  .announcement-bar__content-text-wrapper {
    overflow: auto;
    padding: 32px 48px;
    text-align: center;
  }

  .announcement-bar__content.has-image .announcement-bar__close-button {
    color: rgb(255, 255, 255);
  }

  @supports (padding: max(0px)) {
    .announcement-bar__content-text-wrapper {
      padding-bottom: max(32px, env(safe-area-inset-bottom, 0px) + 32px);
    }
  }
}

@media screen and (min-width: 741px) {
  .announcement-bar {
    position: relative;
    justify-content: center;
    padding-left: var(--container-gutter);
    padding-right: var(--container-gutter);
  }

  .announcement-bar__list {
    max-width: var(--container-max-width);
    padding-left: 40px;
    padding-right: 40px;
  }

  [dir="ltr"] .announcement-bar__content {
    left: 0;
  }

  [dir="rtl"] .announcement-bar__content {
    right: 0;
  }

  .announcement-bar__content {
    position: absolute;
    top: 100%;
    width: 100%;
    box-shadow: 0 -1px rgba(var(--text-color), 0.2);
    transition: visibility 0.5s linear, box-shadow 0.5s ease-in-out;
  }

  .announcement-bar__content[hidden] {
    box-shadow: none;
  }

  .announcement-bar__content-overflow {
    overflow: hidden;
    height: calc(100vh - var(--announcement-bar-height));
  }

  .announcement-bar__content-inner {
    display: grid;
    grid-auto-columns: 1fr;
    max-height: 80vh;
    overflow: hidden;
    align-items: center;
    background: rgb(var(--section-background));
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s cubic-bezier(0.75, 0, 0.175, 1),
      transform 0.5s cubic-bezier(0.75, 0, 0.175, 1);
  }

  .announcement-bar__content[hidden] .announcement-bar__content-inner {
    transform: translateY(-100%);
    opacity: 0;
  }

  .announcement-bar__content-overlay {
    bottom: auto;
    top: 0;
  }

  .announcement-bar__content-image,
  .announcement-bar__content-text-wrapper {
    grid-row: 1;
    max-height: inherit;
  }

  .announcement-bar__content-image {
    height: 100%;
    max-height: max-content;
    object-fit: cover;
    object-position: center;
  }

  .announcement-bar__content-text-wrapper {
    padding: 80px var(--container-gutter);
    overflow: auto;
    overscroll-behavior: contain;
  }

  .announcement-bar__content-text {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .announcement-bar__message {
    min-width: 495px;
    max-width: 1000px;
  }
}

// User close announcement bar //
.announcement-bar__main-close-button {
  position: absolute;
  right: var(--container-gutter);
}

// Promo Code //

.announcement-bar__item .nl-promocode {
  margin: 0;
  margin-left: -10px;

  .nl-promocode__btn {
    margin: 0;
  }

  .nl-promocode__code-container {
    padding: 0 5px;
  }

  [data-tooltip]::before {
    display: none;
    top: calc(100% + 10px);
    bottom: initial;
    z-index: 9999;
    @media screen and (max-width: 741px) {
      right: 0;
      left: auto;
      transform: none;
    }
  }

  [data-tooltip]::after {
    display: none;
  }

  [data-tooltip][open]::before {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
