.product-free-shipping {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: var(--button-border-radius);
  background-color: rgb(var(--secondary-background));
  color: rgb(var(--text-color));
}
