.scroll-to-top {
  position: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  bottom: 80px;
  right: 10px;
  font-size: 30px;
  height: 50px;
  width: 50px;
  background: rgb(var(--background));
  color: rgb(var(--text-color));
  opacity: 1;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
  transition-delay: 0s;
  visibility: visible;
  z-index: 4;
  cursor: pointer;

  .icon {
    transform: rotate(180deg);
    width: 30px;
    height: 30px;
  }

  &[hidden] {
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    visibility: hidden;
  }
}
