/**
 * STYLES FOR SOME PAGES CONTROLLED BY SHOPIFY
 */

.shopify-challenge__container {
  margin-top: var(--vertical-breather) !important;
  margin-bottom: var(--vertical-breather) !important;
}

.shopify-challenge__container .shopify-challenge__button {
  margin-top: 30px;
}
