.gallery {
  --gallery-image-height: 370px;
  position: relative;
  display: block;
}

.gallery__list-wrapper:not(.is-scrollable) ~ .custom-drag-cursor {
  visibility: hidden;
}

.gallery__list-wrapper:not(.is-scrollable) ~ .gallery__prev-next-buttons,
.gallery__list-wrapper:not(.is-scrollable) ~ .gallery__progress-bar-wrapper {
  display: none;
}

.gallery__list-wrapper {
  display: block;
}

.gallery__list {
  display: flex;
  flex-wrap: nowrap;
}

.gallery__list-wrapper.is-scrollable .gallery__list::after {
  content: "";
  flex: 0 0 var(--container-outer-width); /* Allows to create the gap after the last image */
}

.gallery__item {
  flex-shrink: 0;
  width: max-content;
}

[dir="ltr"] .gallery__item:not(:first-child) {
  margin-left: var(--container-gutter);
}

[dir="rtl"] .gallery__item:not(:first-child) {
  margin-right: var(--container-gutter);
}

.gallery__figure {
  display: table;
  margin: 0;
}

.gallery__image {
  display: block;
  height: var(--gallery-image-height);
  width: auto;
  border-radius: var(--block-border-radius-reduced);
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.gallery__caption {
  display: table-caption;
  caption-side: bottom;
  margin-top: 16px;
}

.gallery__progress-bar {
  display: block;
  margin-top: 32px;
}

[dir="ltr"] .gallery__prev-next-buttons {
  right: calc(var(--container-outer-width) - 28px);
}

[dir="rtl"] .gallery__prev-next-buttons {
  left: calc(var(--container-outer-width) - 28px);
}

.gallery__prev-next-buttons {
  position: absolute;
  top: calc(
    var(--gallery-image-height) / 2 - 56px
  ); /* 56px is the height of a single button */ /* 28px is half the width of button */
  z-index: 1;
}

@media not screen and (pointer: fine) {
  .gallery__prev-next-buttons {
    display: none !important; /* Arrows are hidden on touch devices */
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    --gallery-image-height: 40vw;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    --gallery-image-height: 35vw;
  }
}

@media screen and (min-width: 1400px) {
  .gallery {
    --gallery-image-height: 30vw;
  }
}
