{% assign fillers_desktop = '' %}
{% assign fillers_mobile = '' %}

{% comment %}we use a grid of 12 col{% endcomment %}
{% case layout %}
  {% when 'fixed-3-3/2' %}
    {% case start_position_pattern %}
      {% when 2 %}
        {% assign fillers_desktop = '4x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 3 %}
        {% assign fillers_desktop = '8x1' %}
      {% when 4 %}
        {% assign fillers_mobile = '6x1' %}
      {% when 5 %}
        {% assign fillers_desktop = '4x1' %}
      {% when 6 %}
        {% assign fillers_desktop = '8x1' %}
        {% assign fillers_mobile = '6x1' %}
    {% endcase %}
  {% when 'fixed-4-4/2' %}
    {% case start_position_pattern %}
      {% when 2 %}
        {% assign fillers_desktop = '3x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 3 %}
        {% assign fillers_desktop = '6x1' %}
      {% when 4 %}
        {% assign fillers_desktop = '9x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 6 %}
        {% assign fillers_desktop = '3x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 7 %}
        {% assign fillers_desktop = '6x1' %}
      {% when 8 %}
        {% assign fillers_desktop = '8x1' %}
        {% assign fillers_mobile = '6x1' %}
    {% endcase %}
  {% when 'alternate-2-4-3/2-2-1-2-2' %}
    {% case start_position_pattern %}
      {% when 2 %}
        {% assign fillers_desktop = '6x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 4 %}
        {% assign fillers_desktop = '3x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 5 %}
        {% assign fillers_desktop = '6x1' %}
      {% when 6 %}
        {% assign fillers_desktop = '9x1' %}
      {% when 7 %}
        {% assign fillers_mobile = '6x1' %}
      {% when 8 %}
        {% assign fillers_desktop = '4x1' %}
      {% when 9 %}
        {% assign fillers_desktop = '8x1' %}
        {% assign fillers_mobile = '6x1' %}
    {% endcase %}
  {% when 'alternate-3-3-2/2-2-2-1-1' %}
    {% case start_position_pattern %}
      {% when 2 %}
        {% assign fillers_desktop = '4x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 3 %}
        {% assign fillers_desktop = '8x1' %}
      {% when 4 %}
        {% assign fillers_mobile = '6x1' %}
      {% when 5 %}
        {% assign fillers_desktop = '4x1' %}
      {% when 6 %}
        {% assign fillers_desktop = '8x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 8 %}
        {% assign fillers_desktop = '6x1' %}
    {% endcase %}
  {% when 'alternate-4-4-2/2-2-2-2-1-1' %}
    {% case start_position_pattern %}
      {% when 2 %}
        {% assign fillers_desktop = '3x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 3 %}
        {% assign fillers_desktop = '6x1' %}
      {% when 4 %}
        {% assign fillers_desktop = '9x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 6 %}
        {% assign fillers_desktop = '3x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 7 %}
        {% assign fillers_desktop = '6x1' %}
      {% when 8 %}
        {% assign fillers_desktop = '9x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 10 %}
        {% assign fillers_desktop = '6x1' %}
    {% endcase %}
  {% when 'alternate-3-2-4/2-2-1-2-2' %}
    {% case start_position_pattern %}
      {% when 2 %}
        {% assign fillers_desktop = '4x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 3 %}
        {% assign fillers_desktop = '8x1' %}
      {% when 4 %}
        {% assign fillers_mobile = '6x1' %}
      {% when 5 %}
        {% assign fillers_desktop = '6x1' %}
      {% when 7 %}
        {% assign fillers_desktop = '3x1' %}
        {% assign fillers_mobile = '6x1' %}
      {% when 8 %}
        {% assign fillers_desktop = '6x1' %}
      {% when 9 %}
        {% assign fillers_desktop = '9x1' %}
        {% assign fillers_mobile = '6x1' %}
    {% endcase %}
{% endcase %}

{% comment %}no filler for mobile in the case of 1 item per line{% endcomment %}
{% if section.settings.mobile_products_per_row == '1' %}
  {% assign fillers_mobile = '' %}
{% endif %}

{% assign fillers_desktop_items = fillers_desktop | split: ',' %}
{% assign fillers_mobile_items = fillers_mobile | split: ',' %}

{% for desktop_item in fillers_desktop_items %}
  {% assign desktop_item_size = desktop_item | split: 'x' %}
  {% assign desktop_item_col = desktop_item_size.first | times: 1 %}
  {% assign desktop_item_row = desktop_item_size.last | times: 1 %}
  <div
    class="product-list__item product-list__item--filler product-list__item--col-{{ desktop_item_col }} hidden-phone{% if desktop_item_row > 1 %} product-list__item--row-{{ desktop_item_row }}{% endif %}"
  ></div>
{% endfor %}

{% for mobile_item in fillers_mobile_items %}
  {% assign mobile_item_size = mobile_item | split: 'x' %}
  {% assign mobile_item_col = mobile_item_size.first | times: 1 %}
  {% assign mobile_item_row = mobile_item_size.last | times: 1 %}
  <div
    class="product-list__item product-list__item--filler product-list__item--col-sm-{{ mobile_item_col }} hidden-tablet-and-up{% if mobile_item_row > 1 %} product-list__item--row-sm-{{ desktop_item_row }}{% endif %}"
  ></div>
{% endfor %}
