{%- assign order_status = order.fulfillment_status | downcase -%}
{%- if order_status == 'fulfilled' or order_status == 'partial' -%}
  {%- capture app_return_link -%}
    {%- render 'external-return-app-link', link_type: 'order-link', order: order -%}
  {%- endcapture -%}

  {% if app_return_link != blank %}
    <a class="app-return-link" href="{{- app_return_link -}}">
      {{- 'request_returns.account.ask_return' | t -}}
    </a>
  {% endif %}
{%- endif -%}
