.multi-column {
  --multi-column-row-gap: 32px;
  --multi-column-column-gap: 24px;
  --section-items-per-row: 2;
  --item-width: calc(
    var(--container-inner-width) / var(--section-items-per-row) -
      (
        var(--multi-column-column-gap) / var(--section-items-per-row) *
          (var(--section-items-per-row) - 1)
      )
  );

  position: relative;
  display: block;
}

.multi-column--spacing-tight {
  --multi-column-column-gap: 12px;
}

.multi-column--spacing-loose {
  --multi-column-column-gap: 32px;
}

.multi-column--pocket-medium,
.multi-column--pocket-large {
  --section-items-per-row: 1;
}

.multi-column__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--item-width));
  grid-gap: var(--multi-column-row-gap) var(--multi-column-column-gap);
  gap: var(--multi-column-row-gap) var(--multi-column-column-gap);
  justify-content: safe center;
  padding-bottom: 2px; /* This allows to allocate extra space and make sure that link border are not hidden */
}

.multi-column__inner--left {
  justify-content: safe start;
}

.multi-column__inner--right {
  justify-content: safe end;
}

.multi-column__inner--scroller {
  grid-auto-flow: column;
  grid-template-columns: none !important;
}

.multi-column__item--align-center {
  align-self: center;
}

.multi-column__item--align-end {
  align-self: end;
}

.multi-column__image-wrapper {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: min(8px, var(--block-border-radius));
  overflow: hidden;
  z-index: 0; /* Creating new stacking context is needed on Safari to apply the border radius */
}

.multi-column__image-wrapper:only-child {
  margin-bottom: 0;
}

.multi-column__image {
  width: 100%;
}

@media screen and (max-width: 999px) {
  .multi-column__inner--scroller {
    padding-left: var(--container-gutter);
    padding-right: var(--container-gutter);
    min-width: min-content;
  }
}

@media screen and (max-width: 740px) {
  /* On mobile, for the scroller we use fixed width based on viewport size */
  .multi-column__inner--scroller {
    grid-auto-columns: 25vw;
  }

  .multi-column--pocket-medium .multi-column__inner--scroller {
    grid-auto-columns: 35vw;
  }

  .multi-column--pocket-large .multi-column__inner--scroller {
    grid-auto-columns: 56vw;
  }
}

@media screen and (min-width: 741px) and (max-width: 999px) {
  .multi-column--pocket-small {
    --section-items-per-row: 5;
  }

  .multi-column--pocket-medium {
    --section-items-per-row: 4;
  }

  .multi-column--pocket-large {
    --section-items-per-row: 3;
  }

  /* On mobile, for the scroller we use fixed width based on viewport size */
  .multi-column__inner--scroller {
    grid-auto-columns: 20vw;
  }

  .multi-column--pocket-medium .multi-column__inner--scroller {
    grid-auto-columns: 26vw;
  }

  .multi-column--pocket-large .multi-column__inner--scroller {
    grid-auto-columns: 36vw;
  }
}

@media screen and (min-width: 741px) {
  .multi-column--spacing-normal {
    --multi-column-row-gap: 40px;
  }

  .multi-column--spacing-loose {
    --multi-column-row-gap: 48px;
    --multi-column-column-gap: 32px;
  }
}

@media screen and (min-width: 1000px) {
  .multi-column--spacing-normal {
    --multi-column-column-gap: 40px;
  }

  .multi-column--spacing-tight {
    --multi-column-column-gap: 24px;
  }

  .multi-column--spacing-loose {
    --multi-column-column-gap: 60px;
  }

  .multi-column--pico {
    --section-items-per-row: 6;
  }

  .multi-column--small {
    --section-items-per-row: 5;
  }

  .multi-column--medium {
    --section-items-per-row: 4;
  }

  .multi-column--large {
    --section-items-per-row: 3;
  }

  .multi-column__inner--scroller {
    grid-auto-columns: var(--item-width);
    overflow: hidden;
  }

  .multi-column__inner:not(.is-scrollable) + .multi-column__prev-next {
    display: none;
  }

  .multi-column__image-wrapper {
    margin-bottom: 24px;
  }

  .multi-column__prev-next {
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 56px);
    top: calc(
      var(--item-width) / var(--smallest-image-aspect-ratio) / 2 - 28px
    ); /* 28px is half the height of the button */
    left: 28px;
  }

  .multi-column__prev-next--no-image {
    top: calc(50% - 28px); /* 28px is half the height of the button */
  }

  .multi-column__arrow {
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out,
      transform 0.15s ease-in-out;
  }

  .multi-column:hover .multi-column__arrow:not([disabled]) {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .multi-column--pico {
    --section-items-per-row: 8;
  }

  .multi-column--small {
    --section-items-per-row: 7;
  }

  .multi-column--medium {
    --section-items-per-row: 5;
  }
}

@media screen and (pointer: fine) {
  .multi-column__item:hover .multi-column__link {
    -webkit-text-decoration-color: rgb(var(--text-color));
    text-decoration-color: rgb(var(--text-color));
  }
}

@media not screen and (pointer: fine) {
  .multi-column__arrow:not([disabled]) {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}
