
{% schema %}
{
  "name": "HolafRan",
  "settings": []
}
{% endschema %}

<!-- Plantilla Liquid para HolafRan -->
<div class="holafran">
  {%- for setting in section.settings -%}
    <p>{{ setting.id }}: {{ section.settings[setting.id] }}</p>
  {%- endfor -%}
</div>
