
{% schema %}
{
  "name": "FormInputGroup",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": ""
    },
    {
      "type": "text",
      "id": "helpText",
      "label": "HelpText",
      "default": ""
    },
    {
      "type": "text",
      "id": "containerClassName",
      "label": "ContainerClassName",
      "default": ""
    }
  ]
}
{% endschema %}

<!-- Plantilla Liquid para FormInputGroup -->
<div class="forminputgroup">
  {%- for setting in section.settings -%}
    <p>{{ setting.id }}: {{ section.settings[setting.id] }}</p>
  {%- endfor -%}
</div>
