.shopify-section--collection-description {
  .collection-description__inner {
    display: flex;
    flex-direction: var(--extra-content-position);

    .collection-description__spacer {
      height: var(--collection-description-spacer);
    }
  }
}
