{%- comment -%}
  ------------------------------------------------------------------------------------
   USED INAJAX
  ------------------------------------------------------------------------------------
{%- endcomment -%}

{%- liquid
  assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first
  assign page_url = page_url | replace: '\/', '/' | replace: '%20', ' ' | replace: '%7C', '|'
  assign page_url = page_url | split: '?'
  assign page_url = page_url[1]
  assign page_url = page_url | split: '\u0026'

  for param in page_url
    assign pair = param | split: '='
    if pair[0] == 'product_handles'
      assign product_handles = pair[1]
    endif
    if pair[0] == 'list_id'
      assign list_id = pair[1]
    endif
    if pair[0] == 'url_params'
      assign url_params = pair[1]
    endif
  endfor
  comment
    format url_param entrant : param1|value1,param2|value2
    format url_param sortant : param1=value1&param2=value2
  endcomment
  assign url_params = url_params | split: ',' | join: '&' | replace: '|', '='
  assign handles = product_handles | split: ','
  assign size = handles.size
  assign count = 0
%}
<product-list
  {% if settings.stagger_products_apparition %}
    stagger-apparition
  {% endif %}
  class="product-list product-list--center"
>
  {%- assign smallest_image_aspect_ratio = 0 -%}

  <div class="scroller">
    <div class="product-list__inner product-list__inner--scroller hide-scrollbar">
      {% for handle in handles %}
        {% assign product = all_products[handle] %}
        {% if product != blank and product.type != 'static' %}
          {%- assign count = count | plus: 1 -%}
          {%- assign smallest_image_aspect_ratio = smallest_image_aspect_ratio
            | at_least: product.featured_media.aspect_ratio
          -%}

          {%- capture sizes_attribute -%}(max-width: 740px) 75vw, min({{ 100.0 | divided_by: 4 | ceil }}vw, {{ 1520.0 | divided_by: 4 | ceil }}px){%- endcapture -%}
          {%- render 'product-item',
            product: product,
            sizes_attribute: sizes_attribute,
            reveal: settings.stagger_products_apparition,
            list: list_id,
            position: forloop.index,
            url_params: url_params,
            enable_media_in_slider: settings.enable_media_in_slider_sections
          -%}

          {% if count == size %}
            {% break %}
          {% endif %}
        {% endif %}
      {%- endfor -%}
    </div>
  </div>

  {%- if size > 4 -%}
    <prev-next-buttons
      class="product-list__prev-next hidden-pocket"
      style="--smallest-image-aspect-ratio: {{ smallest_image_aspect_ratio }}"
    >
      <button class="product-list__arrow prev-next-button prev-next-button--prev" disabled data-action="prev">
        <span class="visually-hidden">{{ 'general.accessibility.previous' | t }}</span>
        {%- include 'icon' with 'nav-arrow-left', block: true, direction_aware: true -%}
      </button>

      <button class="product-list__arrow prev-next-button prev-next-button--next" data-action="next">
        <span class="visually-hidden">{{ 'general.accessibility.next' | t }}</span>
        {%- include 'icon' with 'nav-arrow-right', block: true, direction_aware: true -%}
      </button>
    </prev-next-buttons>
  {%- endif -%}
</product-list>
