{% schema %}
{
  "name": "HolafRan",
  "settings": [],
  "presets": [
    {
      "name": "HolafRan"
    }
  ]
}
{% endschema %}

<div class="holafran">
  {% comment %}
    Este es un template generado automáticamente.
    Personalizá tu layout y lógica de visualización aquí.
  {% endcomment %}

  {% for setting in section.settings %}
    <p><strong>{{ setting }}:</strong> {{ section.settings[setting] }}</p>
  {% endfor %}
</div>