{% schema %}
{
  "name": "ModalDialog",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": ""
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content",
      "default": ""
    },
    {
      "type": "text",
      "id": "primaryActionLabel",
      "label": "PrimaryActionLabel",
      "default": ""
    },
    {
      "type": "text",
      "id": "onPrimaryAction",
      "label": "OnPrimaryAction",
      "default": ""
    },
    {
      "type": "text",
      "id": "secondaryActionLabel",
      "label": "SecondaryActionLabel",
      "default": ""
    },
    {
      "type": "text",
      "id": "onSecondaryAction",
      "label": "OnSecondaryAction",
      "default": ""
    }
  ],
  "presets": [
    {
      "name": "ModalDialog"
    }
  ]
}
{% endschema %}

<div class="modaldialog">
  {% comment %}
    Este es un template generado automáticamente.
    Personalizá tu layout y lógica de visualización aquí.
  {% endcomment %}

  {% for setting in section.settings %}
    <p><strong>{{ setting }}:</strong> {{ section.settings[setting] }}</p>
  {% endfor %}
</div>