{%- comment -%}
  ------------------------------------------------------------------------------------
   USED INAJAX
   Product handles can be :
   - just simple handle
   - handle + vairant_id, separated with a pipe character
  ------------------------------------------------------------------------------------
{%- endcomment -%}

{%- liquid
  assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first
  assign page_url = page_url | replace: '\/', '/' | replace: '%20', ' ' | replace: '%7C', '|' | replace: '%2C', ','
  assign page_url = page_url | split: '?' | last
  assign page_url = page_url | split: '\u0026'

  assign desktop_products_per_row = 4
  assign mobile_products_per_row = 2

  for param in page_url
    assign pair = param | split: '='
    if pair[0] == 'product_handles'
      assign product_handles = pair[1]
    endif
    if pair[0] == 'list_id'
      assign list_id = pair[1]
    endif
    if pair[0] == 'desktop_products_per_row'
      assign desktop_products_per_row = pair[1]
    endif
    if pair[0] == 'mobile_products_per_row'
      assign mobile_products_per_row = pair[1]
    endif
  endfor

  assign handle_pairs = product_handles | split: ','
%}
<product-list
  {% if settings.stagger_products_apparition %}
    stagger-apparition
  {% endif %}
  class="product-list anchor"
>
  <div class="product-list__inner">
    {%- assign desktop_number_of_products_minus_one = desktop_products_per_row | minus: 1 -%}
    {%- assign gap_width = 24.0 | divided_by: desktop_products_per_row | times: desktop_number_of_products_minus_one -%}

    {%- capture sizes_attribute -%}(max-width: 740px) calc({{ 100.0 | divided_by: mobile_products_per_row | ceil }}vw - 24px), calc((min(100vw - 80px, 1520px)/ {{ desktop_products_per_row }} - {{ gap_width | ceil }}px){%- endcapture -%}

    {% assign unique_handles = '' | split: ',' %}

    {% for handle_pair in handle_pairs %}
      {% assign handle_pair_array = handle_pair | split: '|' %}
      {% assign handle = handle_pair_array[0] %}
      {% assign prefered_variant = handle_pair_array[1] %}

      {% if unique_handles contains handle %}
        {% continue %}
      {% endif %}

      {% assign array_handle = handle | split: ',' %}
      {% assign unique_handles = unique_handles | concat: array_handle %}

      {% assign product = all_products[handle] %}
      {% if product != blank and product.type != 'static' %}
        {%- render 'product-item',
          product: product,
          prefered_variant: prefered_variant,
          sizes_attribute: sizes_attribute,
          reveal: settings.stagger_products_apparition,
          list: list_id,
          position: forloop.index,
          class: 'product-list__item',
          enable_media_in_slider: settings.enable_media_in_slider_sections
        -%}
      {% endif %}
    {%- endfor -%}
  </div>
</product-list>
