{% schema %}
{
  "name": "Badge",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": ""
    },
    {
      "type": "text",
      "id": "variant",
      "label": "Variant",
      "default": ""
    }
  ],
  "presets": [
    {
      "name": "Badge"
    }
  ]
}
{% endschema %}

<div class="badge">
  {% comment %}
    Este es un template generado automáticamente.
    Personalizá tu layout y lógica de visualización aquí.
  {% endcomment %}

  {% for setting in section.settings %}
    <p><strong>{{ setting }}:</strong> {{ section.settings[setting] }}</p>
  {% endfor %}
</div>