
{{ 'card.scss' | asset_url | stylesheet_tag }}

{%- style -%}
.card {
  padding: 20px;
}
{%- endstyle -%}

{%- liquid
  assign title = section.settings.title
-%}


<!-- Card -->
<div class="card section-{{ section.id }}">
  {{ title }}
  
</div>

{% schema %}
{
  "name": "Card",
  "class": "section-card",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": ""
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content",
      "default": ""
    },
    {
      "type": "text",
      "id": "imageUrl",
      "label": "ImageUrl",
      "default": ""
    },
    {
      "type": "text",
      "id": "onCardClick",
      "label": "OnCardClick",
      "default": ""
    },
    {
      "type": "text",
      "id": "actionsAlignment",
      "label": "ActionsAlignment",
      "default": ""
    },
    {
      "type": "text",
      "id": "primaryButtonLabel",
      "label": "PrimaryButtonLabel",
      "default": ""
    },
    {
      "type": "text",
      "id": "primaryButtonOnClick",
      "label": "PrimaryButtonOnClick",
      "default": ""
    },
    {
      "type": "text",
      "id": "primaryButtonAlignment",
      "label": "PrimaryButtonAlignment",
      "default": ""
    },
    {
      "type": "text",
      "id": "secondaryButtonLabel",
      "label": "SecondaryButtonLabel",
      "default": ""
    },
    {
      "type": "text",
      "id": "secondaryButtonOnClick",
      "label": "SecondaryButtonOnClick",
      "default": ""
    },
    {
      "type": "text",
      "id": "secondaryButtonAlignment",
      "label": "SecondaryButtonAlignment",
      "default": ""
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Card",
      "category": "Custom",
      "blocks": []
    }
  ]
}
{% endschema %}
