{{ 'card.scss' | asset_url | stylesheet_tag }}

{%- style -%}
.card {
  padding: 20px;
}
{%- endstyle -%}

{%- liquid
  assign title = section.settings.title
-%}

<!-- Card -->
<div class="card section-{{ section.id }}">
  {{ title }}
</div>

{% schema %}
{
  "name": " Card",
  "tag": "section",
  "class": "section-card",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": ""
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content",
      "default": ""
    },
    {
      "type": "text",
      "id": "imageUrl",
      "label": "Image Url",
      "default": ""
    },
    {
      "type": "text",
      "id": "onCardClick",
      "label": "On Card Click",
      "default": ""
    },
    {
      "type": "text",
      "id": "actionsAlignment",
      "label": "Actions Alignment",
      "default": ""
    },
    {
      "type": "text",
      "id": "primaryButtonLabel",
      "label": "Primary Button Label",
      "default": ""
    },
    {
      "type": "text",
      "id": "primaryButtonOnClick",
      "label": "Primary Button On Click",
      "default": ""
    },
    {
      "type": "text",
      "id": "primaryButtonAlignment",
      "label": "Primary Button Alignment",
      "default": ""
    },
    {
      "type": "text",
      "id": "secondaryButtonLabel",
      "label": "Secondary Button Label",
      "default": ""
    },
    {
      "type": "text",
      "id": "secondaryButtonOnClick",
      "label": "Secondary Button On Click",
      "default": ""
    },
    {
      "type": "text",
      "id": "secondaryButtonAlignment",
      "label": "Secondary Button Alignment",
      "default": ""
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": " Card",
      "category": "Custom",
      "blocks": []
    }
  ]
}
{% endschema %}