
{{ 'caroussel.css' | asset_url | stylesheet_tag }}

{%- style -%}
.caroussel {
  padding: 20px;
}
{%- endstyle -%}
{%- liquid
  assign title = section.settings.title
-%}

<!-- Caroussel -->
<div class="caroussel section-{{ section.id }}">
  {{ title }}
  {% for block in section.blocks %}
  <p>{{ block.settings.value }}</p>
{% endfor %}
</div>

{% schema %}
{
  "name": "Caroussel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "autoPlay",
      "label": "AutoPlay",
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "showArrows",
      "label": "ShowArrows",
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop",
      "default": ""
    },
    {
      "type": "text",
      "id": "transitionType",
      "label": "TransitionType",
      "default": ""
    },
    {
      "type": "text",
      "id": "itemStyle",
      "label": "ItemStyle",
      "default": ""
    },
    {
      "type": "text",
      "id": "containerStyle",
      "label": "ContainerStyle",
      "default": ""
    },
    {
      "type": "text",
      "id": "arrowsPosition",
      "label": "ArrowsPosition",
      "default": ""
    }
  ],
  "blocks": [
    {
      "type": "items",
      "name": "Items",
      "settings": [
        {
          "type": "text",
          "id": "value",
          "label": "Value"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Caroussel",
      "category": "Custom",
      "blocks": [
        {
          "type": "items"
        }
      ]
    }
  ]
}
{% endschema %}
