{{ 'caroussel.scss' | asset_url | stylesheet_tag }}

<div class="caroussel section-{{ section.id }}">
  {%- if section.settings.title != blank -%}
    <h2>{{ section.settings.title }}</h2>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Caroussel",
  "tag": "section",
  "class": "caroussel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Example title"
    },
    {
      "type": "checkbox",
      "id": "autoPlay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop",
      "default": true
    },
    {
      "type": "select",
      "id": "arrowsPosition",
      "label": "Arrow Position",
      "options": [
        { "value": "inside", "label": "Inside" },
        { "value": "outside", "label": "Outside" },
        { "value": "bottom", "label": "Bottom" }
      ],
      "default": "inside"
    }
  ],
  "presets": [
    {
      "name": "Caroussel"
    }
  ]
}
{% endschema %}
