{{ 'caroussel.scss' | asset_url | stylesheet_tag }}

<div class="caroussel section-{{ section.id }}">
  {%- if section.settings.title != blank -%}
    <h2>{{ section.settings.title }}</h2>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Caroussel",
  "tag": "section",
  "class": "caroussel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "autoPlay",
      "label": "Autoplay",
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "showArrows",
      "label": "Showarrows",
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop",
      "default": ""
    },
    {
      "type": "text",
      "id": "transitionType",
      "label": "Transitiontype",
      "default": ""
    },
    {
      "type": "text",
      "id": "itemStyle",
      "label": "Itemstyle",
      "default": ""
    },
    {
      "type": "text",
      "id": "containerStyle",
      "label": "Containerstyle",
      "default": ""
    },
    {
      "type": "text",
      "id": "arrowsPosition",
      "label": "Arrowsposition",
      "default": ""
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "value",
          "label": "Value"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Caroussel",
      "category": "Custom",
      "blocks": [
        { "type": "item" },
        { "type": "item" }
      ]
    }
  ]
}

{% endschema %}
