{{ 'modaldialog.scss' | asset_url | stylesheet_tag }}

{%- style -%}
.modaldialog {
  padding: 20px;
}
{%- endstyle -%}

{%- liquid
  assign title = section.settings.title
-%}

<!-- ModalDialog -->
<div class="modaldialog section-{{ section.id }}">
  {{ title }}
</div>

{% schema %}
{
  "name": " Modal Dialog",
  "tag": "section",
  "class": "section-modaldialog",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": ""
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content",
      "default": ""
    },
    {
      "type": "text",
      "id": "primaryActionLabel",
      "label": "Primary Action Label",
      "default": ""
    },
    {
      "type": "text",
      "id": "onPrimaryAction",
      "label": "On Primary Action",
      "default": ""
    },
    {
      "type": "text",
      "id": "secondaryActionLabel",
      "label": "Secondary Action Label",
      "default": ""
    },
    {
      "type": "text",
      "id": "onSecondaryAction",
      "label": "On Secondary Action",
      "default": ""
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": " Modal Dialog",
      "category": "Custom",
      "blocks": []
    }
  ]
}
{% endschema %}