
{{ 'modaldialog.scss' | asset_url | stylesheet_tag }}

{%- style -%}
.modaldialog {
  padding: 20px;
}
{%- endstyle -%}

{%- liquid
  assign title = section.settings.title
-%}

<!-- ModalDialog -->
<div class="modaldialog section-{{ section.id }}">
  {{ title }}
</div>

{% schema %}
{
  "name": "ModalDialog",
  "class": "section-modaldialog",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": ""
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content",
      "default": ""
    },
    {
      "type": "text",
      "id": "primaryActionLabel",
      "label": "PrimaryActionLabel",
      "default": ""
    },
    {
      "type": "text",
      "id": "onPrimaryAction",
      "label": "OnPrimaryAction",
      "default": ""
    },
    {
      "type": "text",
      "id": "secondaryActionLabel",
      "label": "SecondaryActionLabel",
      "default": ""
    },
    {
      "type": "text",
      "id": "onSecondaryAction",
      "label": "OnSecondaryAction",
      "default": ""
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "ModalDialog",
      "category": "Custom",
      "blocks": []
    }
  ]
}
{% endschema %}