#newsletter-popup.modal__bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}

#newsletter-popup.modal__bottom-left {
  justify-content: flex-start;
  align-items: flex-end;
}

.newsletter-modal__text {
  color: var(--text-color);
  margin-bottom: 16px;
}

.newsletter__form {
  margin-top: 32px;
}

.newsletter__form .input-row {
  grid-template-columns: none; /* As the newsletter box is small there is not enough space to fit on smaller screens */
}

@media screen and (min-width: 1200px) {
  .newsletter__form .input-row {
    grid-template-columns: 1fr auto; /* Small variation for this section */
  }
}

[aria-controls="newsletter-popup"] {
  display: none;
}

.newsletter-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--section-background));
}

.newsletter-modal__terms-text {
  margin-top: 24px;
  color: rgba(var(--terms-color));
  font-size: 13px;
}

.newsletter-modal__image {
  object-fit: cover;
  object-position: var(--image-alignement);
}

.newsletter-modal__content {
  padding: 32px 24px 40px;
  width: 100%;
}

.newsletter-modal__content--extra {
  padding-top: 40px; /* If there is an image the close button is within the text so we have to increase the padding */
}

.newsletter-modal__form {
  .input-row {
    grid-template-columns: none;
  }
}

@media screen and (max-width: 740px) {
  .newsletter-modal {
    max-height: inherit;
  }

  .newsletter-modal__image {
    max-height: 200px;
  }

  .newsletter-modal__content {
    overflow: auto;
  }
}

@media screen and (min-width: 741px) and (max-width: 999px) {
  .newsletter-modal__image {
    max-height: 350px;
  }
}

@media screen and (min-width: 741px) {
  .newsletter-modal__content {
    padding: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .newsletter-modal {
    flex-direction: row;
  }

  .newsletter-modal--reverse {
    flex-direction: row-reverse;
  }

  .newsletter-modal__image,
  .newsletter-modal__content {
    flex: 1 0 0;
    max-width: 500px;
    min-width: 500px;
  }

  .newsletter-modal__content {
    padding: 80px;
  }
}
