/**
 * -------------------------------------------------------------
 * RATING
 * -------------------------------------------------------------
 */

.rating {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
}

.rating__stars {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 2px;
  column-gap: 2px;
}

.rating__star {
  color: rgb(var(--product-star-rating));
}

.rating__star--empty {
  color: rgba(var(--product-star-rating), 0.4);
}

[dir="ltr"] .rating__caption {
  margin-left: 8px;
}

[dir="rtl"] .rating__caption {
  margin-right: 8px;
}
