/**
 * --------------------------------------------------------------------
 * NON-JS AND REVEAL ELEMENTS
 * --------------------------------------------------------------------
 */

.js .no-js {
  display: none !important;
}

[reveal] {
  opacity: 0;
}

[reveal-visibility] {
  visibility: hidden;
}

.no-js [reveal] {
  opacity: 1;
}

.no-js [reveal-visibility] {
  visibility: visible;
}
