.image-with-text {
  /* Thanks to the ratio of the image and the height of the div we can calculate the height taken by the image */
  --image-height: min(
    var(--image-max-height),
    (100vw - var(--container-gutter) * 4) * (1 / var(--image-aspect-ratio))
  );

  position: relative;
  display: block;
  text-align: center;
}

[dir="ltr"] .image-with-text::before {
  left: 0;
}

[dir="rtl"] .image-with-text::before {
  right: 0;
}

.image-with-text::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(var(--section-accent-background));
  z-index: -1;
}

.image-with-text--overlap-image::before {
  height: var(--image-height);
}

.image-with-text--overlap-text::before {
  --image-height-difference: calc(100% - var(--image-height));
  --image-height-difference-abs: max(
    var(--image-height-difference),
    -1 * var(--image-height-difference)
  );

  top: auto;

  bottom: 0;
  height: var(
    --image-height-difference-abs
  ); /* When we overlap the text we actually take the full height minus image height */
}

.image-with-text__image-wrapper {
  position: relative;
  margin-bottom: 32px;
  overflow: hidden;
  border-radius: var(--block-border-radius-reduced);
  z-index: 0; /* Creating new stacking context is needed on Safari to apply the border radius */
}

.image-with-text__image {
  position: relative;
  display: block;
  width: 100%;
}

.image-with-text__image:not([hidden]) {
  z-index: 1;
}

/* Next images are resized to keep the format of the first image */
[dir="ltr"] .image-with-text__image:not(:first-child) {
  left: 0;
}
[dir="rtl"] .image-with-text__image:not(:first-child) {
  right: 0;
}
.image-with-text__image:not(:first-child) {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.image-with-text__image[hidden] {
  visibility: hidden;
  z-index: -1;
  transition: visibility 0.6s linear;
}

.image-with-text__wrapper {
  overflow: hidden;
}

/* We want to have the div to have the height of the tallest element, so we align them horizontally */
.image-with-text__content-list {
  display: flex;
  flex-wrap: nowrap;
}

.image-with-text__content {
  display: block;
  flex-shrink: 0;
  width: 100%;
  order: 0; /* Force the active to be the visible one */
}

.image-with-text__content[hidden] {
  visibility: hidden;
  order: 1;
}

.image-with-text__navigation {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  align-items: flex-start;
  margin-top: 40px;
}

@keyframes navigationItemAnimation {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.image-with-text__navigation-item {
  position: relative;
}

.image-with-text__navigation-item::before,
.image-with-text__navigation-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 16px;
  background: rgba(var(--text-color), 0.15);
}

[dir="ltr"] .image-with-text__navigation-item::after {
  left: 0;
}

[dir="rtl"] .image-with-text__navigation-item::after {
  right: 0;
}

.image-with-text__navigation-item::after {
  position: absolute;
  top: 0;
  background: rgb(var(--text-color));
  transform-origin: var(--transform-origin-start);
  transform: scaleX(0);
}

.image-with-text__navigation-item[aria-current="true"]::after {
  animation: navigationItemAnimation var(--section-autoplay-duration) linear;
  animation-play-state: var(--section-animation-play-state, running);
}

@media screen and (max-width: 999px) {
  /* Extra spacing just for the pocket devices */
  .image-with-text {
    padding: var(--vertical-breather) var(--container-gutter);
  }

  .image-with-text--boxed {
    padding: var(--container-gutter);
  }
}

@media screen and (min-width: 741px) and (max-width: 999px) {
  .image-with-text {
    padding: var(--vertical-breather)
      calc((var(--grid-column-width) + var(--grid-gap)) * 2);
  }

  .image-with-text--boxed {
    padding: var(--vertical-breather)
      calc(
        (var(--grid-column-width) + var(--grid-gap)) * 2 +
          var(--container-gutter)
      );
  }

  .image-with-text__image-wrapper {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1000px) {
  [dir="ltr"] .image-with-text::before {
    left: auto;
    right: 0;
  }
  [dir="rtl"] .image-with-text::before {
    right: auto;
    left: 0;
  }
  .image-with-text::before {
    height: 100%;
    top: 0;
    width: calc(
      var(--grid-column-width) * 13 + (var(--grid-gap) * 12) +
        var(--container-outer-margin)
    );
  }

  [dir="ltr"]
    .image-with-text--reverse:not(.image-with-text--overlap-image)::before,
  [dir="ltr"]
    .image-with-text--overlap-image:not(.image-with-text--reverse)::before {
    left: 0;
    right: auto;
  }

  [dir="rtl"]
    .image-with-text--reverse:not(.image-with-text--overlap-image)::before,
  [dir="rtl"]
    .image-with-text--overlap-image:not(.image-with-text--reverse)::before {
    right: 0;
    left: auto;
  }

  .image-with-text--overlap-image::before {
    width: calc(
      var(--grid-column-width) * 7 + (var(--grid-gap) * 6) +
        var(--container-outer-margin)
    );
  }

  .image-with-text--overlap-both::before {
    width: 100% !important; /* When it overlap both we force it to be 100% */
  }

  .image-with-text__wrapper {
    display: flex;
    padding: var(--vertical-breather) 0;
    align-items: center;
  }

  .image-with-text--reverse .image-with-text__wrapper {
    flex-direction: row-reverse;
  }

  [dir="ltr"] .image-with-text__image-wrapper {
    margin-left: calc(var(--grid-column-width) + var(--grid-gap));
  }

  [dir="rtl"] .image-with-text__image-wrapper {
    margin-right: calc(var(--grid-column-width) + var(--grid-gap));
  }

  .image-with-text__image-wrapper {
    width: calc(var(--grid-column-width) * 8 + (var(--grid-gap) * 7));
    margin-bottom: 0;
  }

  [dir="ltr"] .image-with-text--reverse .image-with-text__image-wrapper {
    margin-left: 0;
    margin-right: calc(var(--grid-column-width) + var(--grid-gap));
  }

  [dir="rtl"] .image-with-text--reverse .image-with-text__image-wrapper {
    margin-right: 0;
    margin-left: calc(var(--grid-column-width) + var(--grid-gap));
  }

  .image-with-text__content-wrapper {
    width: calc(var(--grid-column-width) * 9 + (var(--grid-gap) * 8));
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .image-with-text__navigation {
    margin-top: 48px;
    column-gap: 40px;
  }
}

@media screen and (min-width: 1400px) {
  [dir="ltr"] .image-with-text__content-wrapper {
    margin-right: calc((var(--grid-column-width) + var(--grid-gap)) * 2);
  }
  [dir="rtl"] .image-with-text__content-wrapper {
    margin-left: calc((var(--grid-column-width) + var(--grid-gap)) * 2);
  }
  .image-with-text__content-wrapper {
    width: calc(var(--grid-column-width) * 7 + (var(--grid-gap) * 6));
  }
}
