.modaldialog {
  padding: 1rem;

  .caroussel-track {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .caroussel-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    max-width: 100%;
  }

  .caroussel-arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}