{% schema %}
{
  "name": "Navbar",
  "settings": [
    {
      "id": "text",
      "type": "text",
      "label": "Texto del botón",
      "default": "Comprar ahora"
    },
    {
      "id": "color",
      "type": "color",
      "label": "Color de fondo",
      "default": "#ff6600"
    }
  ],
  "presets": [
    {
      "name": "Navbar"
    }
  ]
}
{% endschema %}

<button style="background: ; color: white; padding: 10px 20px;">
  
</button>
