.slideshow {
  --slideshow-min-height: 0;

  display: block;
  position: relative;
}

.slideshow--small {
  --slideshow-min-height: 120vw;
}

.slideshow--medium {
  --slideshow-min-height: 133vw;
}

.slideshow--large {
  --slideshow-min-height: 160vw;
}

.slideshow--fit {
  --slideshow-min-height: calc(
    var(--window-height) - var(--header-height, 0px) *
      (-1 * (var(--enable-transparent-header) - 1)) -
      var(--announcement-bar-height, 0px)
  );
}

@supports (min-height: 100svh) {
  .slideshow--fit {
    --slideshow-min-height: calc(
      100svh - var(--header-height, 0px) *
        (-1 * (var(--enable-transparent-header) - 1)) -
        var(--announcement-bar-height, 0px)
    );
  }
}

.slideshow,
.slideshow__slide-list,
.slideshow__slide,
.slideshow__slide-inner {
  min-height: var(--slideshow-min-height);
}

.slideshow__slide {
  position: relative;
  display: block;
  z-index: 1;
}

.slideshow__slide:not(:only-child) {
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
}

.slideshow__slide[hidden] {
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.slideshow__slide:not(:only-child) .slideshow__text-wrapper--bottom {
  padding-bottom: calc(var(--vertical-breather) + 30px);
}

.slideshow__slide-inner {
  position: relative;
  display: flex;
  align-items: var(--section-blocks-alignment);
  width: 100%;
  height: 100%;
}

.slideshow__slide-inner::before {
  content: "";
  display: block;
  padding-bottom: calc(100 / var(--mobile-media-aspect-ratio) * 1%);
  width: 0;
}

.slideshow__image-wrapper {
  overflow: hidden;
}

[dir="ltr"] .slideshow__image-wrapper,
[dir="ltr"] .slideshow__image {
  left: 0;
}

[dir="rtl"] .slideshow__image-wrapper,
[dir="rtl"] .slideshow__image {
  right: 0;
}

.slideshow__image-wrapper,
.slideshow__image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.slideshow__image {
  object-fit: cover;
  object-position: center;
}

.slideshow__image-wrapper {
  .video-wrapper {
    height: 100%;
    width: 100%;
  }
}

.slideshow__image--placeholder {
  width: auto;
  background: rgb(var(--secondary-background));
}

[dir="ltr"] .slideshow__image-wrapper::before {
  left: 0;
}

[dir="rtl"] .slideshow__image-wrapper::before {
  right: 0;
}

.slideshow__image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    var(--section-blocks-overlay-color),
    var(--section-blocks-overlay-opacity)
  );
  pointer-events: none;
  z-index: 1;
}

.slideshow__text-wrapper {
  color: rgb(var(--text-color));
}

.slideshow__text-wrapper .heading + .button-wrapper {
  margin-top: 0;
}

.slideshow__text-wrapper .button-group__wrapper {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 740px) {
    margin: -12px;
  }
}

.slideshow__text-wrapper .multi-column__link.heading.heading--small.link {
  margin: 0 16px;
  align-self: center;
}

/* When the text is aligned at the top, we should add extra space if the header is transparent to avoid it to collide */
@supports (width: max(1px, 2px)) {
  .slideshow__text-wrapper--top {
    padding-top: max(
      var(--vertical-breather),
      calc((var(--header-height) + 25px) * var(--enable-transparent-header))
    );
  }
}

@media screen and (min-width: 1000px) {
  @supports (width: max(1px, 2px)) {
    .slideshow__text-wrapper--top {
      padding-top: max(
        var(--vertical-breather),
        calc((var(--header-height) + 40px) * var(--enable-transparent-header))
      );
    }
  }
}

@media screen and (max-width: 740px) {
  @supports (width: max(1px, 2px)) {
    .slideshow__text-wrapper--mobile-top {
      padding-top: max(
        var(--vertical-breather),
        calc((var(--header-height) + 25px) * var(--enable-transparent-header))
      );
    }
  }

  .slideshow__slide:not(:only-child) .slideshow__text-wrapper--mobile-bottom {
    padding-bottom: calc(var(--vertical-breather) + 30px);
  }

  .slideshow__slide:not(:only-child)
    .slideshow__text-wrapper:not(.slideshow__text-wrapper--mobile-bottom) {
    padding-bottom: var(--vertical-breather);
  }
}

/* Navigation (progress bar) */

@keyframes slideshowProgressBarAnimation {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.slideshow__nav {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 15px;
  left: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

.slideshow__nav--outside {
  position: unset;
  margin: 15px 0;
}

// Progress bar //

.slideshow__progress-bar {
  position: relative;
  flex-basis: 48px;
  padding: 18px 0;
  margin: 0 8px;
  pointer-events: auto;
}

[dir="ltr"] .slideshow__progress-bar::before,
[dir="ltr"] .slideshow__progress-bar::after {
  left: 0;
}

[dir="rtl"] .slideshow__progress-bar::before,
[dir="rtl"] .slideshow__progress-bar::after {
  right: 0;
}

.slideshow__progress-bar::before,
.slideshow__progress-bar::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  top: calc(50% - 1px);
  background: rgba(var(--progress-bar-color), 0.5);
  transition: background 0.2s ease-in-out;
}

.slideshow__progress-bar::after,
.slideshow__square::after,
.slideshow__round::after {
  transform-origin: var(--transform-origin-start);
  transform: scaleX(0);
  background: rgb(var(--progress-bar-color));
}

.slideshow__progress-bar[aria-current="true"]::after,
.slideshow__square[aria-current="true"]::after,
.slideshow__round[aria-current="true"]::after {
  animation: slideshowProgressBarAnimation var(--section-autoplay-duration)
    linear;
  animation-play-state: var(--section-animation-play-state, paused);
  animation-fill-mode: forwards;
}

// Square and Round Navigation //

.slideshow__square,
.slideshow__round {
  position: relative;
  margin: 0 5px;
  pointer-events: auto;
  width: 13px;
  height: 13px;
}

@media screen and (min-width: 741px) {
  .slideshow__square,
  .slideshow__round {
    width: 18px;
    height: 18px;
  }
}

.slideshow__round {
  overflow: hidden;
  border-radius: 20px;
}

.slideshow__square::before,
.slideshow__square::after,
.slideshow__round::before,
.slideshow__round::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(var(--progress-bar-color), 0.5);
  transition: background 0.2s ease-in-out;
}

.slideshow__round::before {
  border-radius: 20px;
}

@media screen and (min-width: 741px) {
  .slideshow--small {
    --slideshow-min-height: 70vw;
  }

  .slideshow--medium {
    --slideshow-min-height: 90vw;
  }

  .slideshow--large {
    --slideshow-min-height: 105vw;
  }
}

@media screen and (min-width: 741px) {
  .slideshow--small {
    --slideshow-min-height: 42vw;
  }

  .slideshow--medium {
    --slideshow-min-height: 48vw;
  }

  .slideshow--large {
    --slideshow-min-height: 54vw;
  }

  .slideshow__slide--split .slideshow__image-wrapper {
    width: 50%;
  }

  [dir="ltr"] .slideshow__slide--split .slideshow__image-wrapper--secondary {
    left: calc(50% - 1px);
  }

  [dir="rtl"] .slideshow__slide--split .slideshow__image-wrapper--secondary {
    right: calc(50% - 1px);
  }

  .slideshow__slide--split .slideshow__image-wrapper--secondary {
    /* The -1px allows to take into account the potential approximation rounding that browsers do */
    width: calc(50% + 1px);
  }

  .slideshow__slide-inner::before {
    padding-bottom: calc(100 / var(--media-aspect-ratio) * 1%);
  }

  /* Navigation (progress bar) */

  .slideshow__nav {
    bottom: 23px;
  }

  .slideshow__progress-bar {
    flex-basis: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .slideshow--small {
    --slideshow-min-height: 38vw;
  }

  .slideshow--medium {
    --slideshow-min-height: 40vw;
  }

  .slideshow--large {
    --slideshow-min-height: 48vw;
  }
}

// Slideshow Arrows

.slideshow__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: rgb(var(--slideshow-arrow-color));
}

.slideshow__arrow .icon {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.slideshow__arrow .icon:hover {
  opacity: 1;
}

.slideshow__arrow--prev {
  left: 12px;
}

.slideshow__arrow--next {
  right: 12px;
}
