

.btn[disabled]:hover {
    cursor: not-allowed;
}

.checkbox__label a {
    text-decoration: underline;
}

.checkbox__label a:hover {
    text-decoration: none;
}

.checkbox__label-required {
    margin-left: -2px;
}


.rgpd-information {
    margin-top: 10px;
}

.rgpd-information a {
    text-decoration: underline;
}

